        <h4>About Gymnasium</h4>

        <p>
            Aquent Gymnasium offers free, online courses for digital, creative and communications professionals to equip them with in demand skills and advance their careers.
        </p>

        <p>
            Digital designers, front-end developers, and marketers all benefit from courses that consider diverse learning approaches and real-world problem solving from instructors who are at the top of their field.
        </p>

        <p>
            We use job placement analytics as well as feedback from our clients to create courses that bridge the skills gap for companies who seek to take advantage of emerging technologies and remain competitive.
        </p>

        <p>
            Why free? Lifelong learning is central to Aquent’s cultural values and finds its way into almost all of our business strategies. Because we’ve always known that there is a clear connection between learning and career advancement, Gymnasium was created
            to serve both talent and client in meeting the demand for skilled professionals. To date, hundreds of newly-certified professionals have been placed in roles with our clients.
        </p>

        <p>
            Browse our course catalog and find out more at <a href="http://thegymnasium.com" target="_blank">thegymnasium.com</a>
        </p>

        <p style="text-align:center">
            ###
        </p>
      </article>
